canvas{
	display: block;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid black;
}

li{
	margin: 15px 5px 5px 5px;
	float: left;
}

ul{
	background: url(img/panel.png) no-repeat;
	background-size: 97%;
	width: 100%;
	height: 60px;
	margin: 0px;
	padding-top: 0px;
	overflow: auto;
	position: fixed;
	bottom: 0;
	list-style-type: none;
}

body{
	background: url(https://cdn4.vectorstock.com/i/1000x1000/87/63/cute-bears-children-wallpaper-vector-1028763.jpg);
}
